@tailwind base;
@tailwind components;
@tailwind utilities;

/* tw-text-[62.5%] */
:root {
  @apply tw-text-[62%];
}
/* phone:  */
/* Port:  */
/* land:  */
/* Desktop:  */

body {
  @apply tw-text-[1.75rem];
}

@layer base {
  h2 {
    @apply tw-font-openSans tw-text-6xl tw-text-pry tw-mb-14;
  }
  input,
  textarea {
    border: none !important;
    box-shadow: none !important;
    @apply tw-outline-none tw-border-none focus:tw-shadow-none focus:tw-border-none;
  }
}

@layer components {
  .tw-btn {
    @apply tw-flex-center tw-min-w-fit tw-px-7 tw-py-4 tw-rounded-md tw-text-center tw-transition-colors tw-duration-300;
  }
  .tw-btn-pry {
    @apply tw-btn tw-bg-pry tw-text-white hover:tw-bg-pryDark;
  }
  .tw-btn-sm {
    @apply tw-px-4 tw-py-3 tw-text-[1.5rem];
  }
  .tw-btn-sec {
    @apply tw-btn tw-bg-sec tw-text-white hover:tw-bg-secDark;
  }
  .tw-btn-white {
    @apply tw-btn tw-bg-white tw-text-pry tw-border-2 tw-border-transparent hover:tw-border-white hover:tw-bg-transparent hover:tw-text-white;
  }
  .tw-simple-link {
    @apply hover:tw-text-pry;
  }
  .tw-parag {
    /* @apply tw-leading-7 */
    line-height: 2.2em;
  }
  .tw-comp-circle {
    @apply tw-rounded-full tw-grid tw-place-items-center;
  }
}

@layer utilities {
  .tw-flex-center {
    @apply tw-flex tw-items-center tw-justify-center;
  }
  .tw-u-mobile-text-left {
    @apply tw-text-left md:tw-text-center;
  }
  .tw-u-scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .tw-u-absolute-y-center {
    @apply tw-top-1/2;
  }

  .tw-u-absolute-orgin-left {
    @apply tw-left-0 -tw-translate-x-1/2;
  }
  .tw-u-absolute-orgin-right {
    @apply tw-right-0 tw-translate-x-1/2;
  }
}
