@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.75rem;

  @apply tw-text-textColor
  /* tw-text-lg; */;
}

@layer base {
  h2 {
    @apply tw-font-openSans tw-text-6xl tw-text-pry tw-mb-14;
  }
  input,
  textarea {
    @apply tw-outline-none;
  }
}

@layer components {
  .tw-btn {
    @apply tw-transition-colors tw-duration-300 tw-px-7 tw-py-4 tw-text-white tw-rounded-md;
  }
  .parag {
    /* @apply tw-leading-7 */
    line-height: 2.2em;
  }
}

@layer utilities {
  .tw-flex-center {
    @apply tw-flex tw-items-center tw-justify-center;
  }
  /* .contact-bg-image {
    backgroundImage: 
  } */
}
